# Python virtual environment
.env/
.venv/
env/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore predicts folder
predicts/

# Ignore configs
configs/ 

# Ignore results folder (do not sync to GitHub)
/results/

# Ignore generated analysis outputs
/analysis_output/